body {
 background: white; 
 font-family: sans-serif;
 font-weight: bold;
}

header {
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

header a {
    color:#d54240;
}

header a:hover {
    color: #eab18d;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
}

#container {
width: 450px;
background: white;
padding:50px; 
}

.answer-button {
    Width: 400px;
    padding: 10px 40px;
    margin: 10px;
    font-size: 15px;
    background-color: #d54240;
    color:white;
    border-radius: 10px;
}

#start-button:hover {
    background-color: #eab18d;
}

.answer-button:hover {
    background-color: #eab18d;
}

#confirmation {
    font-size: 20px;
    color: grey;
    border-top: 3px solid;
    margin: 10px;
    padding: 10px;
}

#player-name {
    text-align: center;
    height: 20px;
    width: 300px; 

}